<h1> String InterPolation</h1>
<!-- 
<h2> UserName : {{userName}}</h2>
<h2>First Name: {{firstName}}</h2>
<h2>Last Name: {{lastName}}</h2>
<h2>Email: {{getEmail()}}</h2>



<h2> Todays Date is : {{dateString }} </h2>

<br><br>

<input type="text" placeholder="CoureName" #myInput>

<button id="btnId" [disabled]="controlFlag" (click)="updateCourse(myInput.value)"> Check Class Status</button>

<br><br>

Class Status : {{ classStatus }}


<br><br>

<input type="text" placeholder="Enter Guest Name" [(ngModel)]="guestName">
<br><br>
Entered Guest Name : {{guestName}}
-->
<app-visitingcard></app-visitingcard>